{% extends 'base_coord.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="card shadow-sm mx-auto mt-4 form-card mb-4">
  <div class="card-header bg-white border-bottom-0">
      {% if edit %}
        <h4 class="mb-0">Editar associação de categoria ao curso {% if coordenador %}{{ coordenador.curso.nome }}{% endif %}</h4>
      {% else %}
        <h4 class="mb-0">Associar categoria ao curso {% if coordenador %}{{ coordenador.curso.nome }}{% endif %}</h4>
      {% endif %}
  </div>
  <div class="card-body bg-white">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row g-3">
        {% for field in form.visible_fields %}
          <div class="col-12">
            <label for="{{ field.id_for_label }}" class="form-label fw-semibold {% if field.name == 'curso' and coordenador %} d-none{% endif %}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
            <div class="input-group">

              {% if field.name == 'curso' and coordenador %}
                {{ field|add_class:'d-none' }}
              {% elif field.field.widget.input_type == 'select' %}
                {{ field|add_class:'form-select' }}
             {% elif field.field.widget.input_type == 'checkbox' %}
                {{ field|add_class:'form-check' }}
              {% else %}
                {{ field|add_class:'form-control' }}
              {% endif %}
            </div>
            {% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}
            {% for error in field.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Voltar ao painel</a>
        <button type="submit" class="btn btn-info text-white"><i class="bi bi-save"></i> Salvar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
