{% extends 'base_coord.html' %}
{% block content %}
<div class="container">
<h2 class="main-blue">Categorias de Atividade</h2>
<div class="mb-3">
<a href="{% url 'criar_categoria' %}" class="btn btn-info"><i class="bi bi-plus-circle"></i> Nova Categoria</a>
<a href="{% url 'dashboard' %}" class="btn btn-outline-main-blue"><i class="bi bi-arrow-left"></i> Voltar</a>
</div>
<table class="table table-bordered table-sm align-middle rounded">
  <thead style="color: #fff;">
    <tr>
      <th class="orange">NOME</th>
      <th class="orange">CURSO</th>
      <th class="orange">LIMITE DE HORAS</th>
      <th class="orange">AÇÕES</th>
    </tr>
  </thead>
  <tbody>
    {% for categoria in categorias %}
    <tr>
      <td>{{ categoria.categoria.nome }}</td>
      <td><span class="badge bg-opacity-75">{{ categoria.curso.nome }}</span></td>
      <td><span class="badge bg-opacity-75">{{ categoria.limite_horas_formatado }}</span></td>
      <td>
        <a href="{% url 'editar_categoria_curso' categoria.id %}" class="btn btn-outline-main-blue btn-sm"><i class="bi bi-pencil"></i> Editar</a>
        <form method="post" action="{% url 'excluir_categoria_curso' categoria.id %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm" title="Desassociar"><i class="bi bi-x-circle"></i> Desassociar</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="3">Nenhuma categoria cadastrada.</td></tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
