{% extends 'base_coord.html' %}
{% block content %}
<div class="container">
<h2 class="main-blue">Cursos</h2>
<div class="mb-3">
<a href="{% url 'criar_curso' %}" class="btn btn-info"><i class="bi bi-plus-circle"></i> Novo Curso</a>
<a href="{% url 'dashboard' %}" class="btn btn-outline-main-blue"><i class="bi bi-arrow-left"></i> Voltar</a>
</div>
<table class="table table-bordered table-sm align-middle rounded">
  <thead style="color: #fff;">
    <tr>
      <th class="orange">NOME</th>
      <th class="orange">CATEGORIAS</th>
      <th class="orange">HORAS REQUERIDAS</th>
      <th class="orange">AÇÕES</th>
    </tr>
  </thead>
  <tbody>
    {% for curso in cursos %}
    <tr>
      <td>{{ curso.nome }}</td>
      <td>{% for cat in curso.curso_categorias.all %}{{ cat.categoria.nome }} ({{ cat.limite_horas_formatado }}){% if not forloop.last %}, {% endif %}{% endfor %}</td>
      <td><span class="badge bg-success bg-opacity-75">{{ curso.horas_requeridas_formatada }}</span></td>
      <td>
        <a href="{% url 'editar_curso' curso.id %}" class="btn btn-outline-main-green btn-sm"><i class="bi bi-pencil"></i> Editar</a>
        <a href="{% url 'excluir_curso' curso.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Excluir</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">Nenhum curso cadastrado.</td></tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
