{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="d-flex login-wrapper">

  <div class="d-flex login-left-side">

    <div class="login-border"></div>
    <div class="div-login">
    <img src="{% static 'images/ifformou1.png' %}" alt="Logo IFFormou" class="login-logo-top">
      <div class="div-login-logo-alt">
        <div class="login-text">Sistema acadêmico de <br><span class="login-text-bold">Horas Complementares</span></div>
        <img src="{% static 'images/logoiff.png' %}" alt="Logo IFF" class="login-logo-bottom">
      </div>
    </div>

  </div>


  <div class="card login-card" >
    <div class="text-center main-blue login-title">
    Login
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3 login-form-content">
          {# Exibe erros gerais do formulário (ex: usuário ou senha incorretos) #}
          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                <div class="text-center">Por favor, entre com um usuário e senha corretos.</div>
              {% endfor %}
            </div>
          {% endif %}
          {% for field in form.visible_fields %}
            <label for="{{ field.id_for_label }}" class="form-label main-blue login-label">{{ field.label }}:</label>
            {{ field|add_class:'form-control-login' }}
            {% for error in field.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          {% endfor %}
          <button type="submit" class="btn bg-orange text-white w-100 mt-5 login-submit-btn"><i class="bi bi-box-arrow-in-right"></i> Entrar</button>
          <div class="d-flex justify-content-between mt-3 login-links">
            <a href="{% url 'password_reset' %}" class="small main-blue">Esqueceu a senha?</a>
            <a href="{% url 'register' %}" class="small main-blue">Cadastre-se</a>
          </div>
          <div class="login-bottom-logo"><img src="{% static 'images/logo2fundo.png' %}" alt="Logo"></div>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
