{% extends 'base.html' %}
{% load atividade_extras %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}
  <div class="ms-4">

    <div class="d-flex justify-content-between align-items-center">
      <h2 class="orange mt-4" style="font-weight: 600;">Bem-vindo, {{ user.get_full_name|default:user.username }}!</h2>
    </div>
    
    <h5 class="main-blue">{{ user.coordenador.curso.nome }}</h5>
    <a href="{% url 'associar_categorias_ao_curso' %}" class="btn btn-info mb-3"><i class="bi bi-plus-circle"></i> Associar Categorias ao Curso</a>
    <a href="{% url 'criar_categoria_curso_direta' %}" class="btn btn-info mb-3"><i class="bi bi-plus-circle"></i> Criar Categoria para o Curso</a>
    <a href="{% url 'listar_categorias_curso' %}?semestre={{ semestre_atual.id }}" class="btn btn-info mb-3">Listar Categorias do Curso</a>
    <a href="{% url 'listar_alunos_coordenador' %}?semestre_ingresso={{ semestre_atual.id }}" class="btn btn-info mb-3">Listar Alunos do Curso</a>

    <div class="row mt-4 mb-4 w-100">

      <a class="col-md-4 mb-3 link-limpo" href="{% url 'listar_alunos_coordenador' %}?semestre_ingresso={{ semestre_atual.id }}">
        <div class="card shadow-sm h-100" style="border-radius: 13px;">
          <div class="card-body text-center">
            <div class="main-blue" style="font-size: 2.5rem; font-weight: 700;">{{ stats.num_alunos|default:0 }}</div>
            <div class="orange" style="font-size: 1.1rem; font-weight: 600;">Alunos no curso</div>
          </div>
        </div>
      </a>

      <a class="col-md-4 mb-3 link-limpo" href="{% url 'listar_alunos_coordenador' %}?semestre_ingresso={{ semestre_atual.id }}&tem_horas_a_validar=1">
        <div class="card shadow-sm h-100" style="border-radius: 13px;">
          <div class="card-body text-center">
            <div class="main-blue" style="font-size: 2.5rem; font-weight: 700;">{{ stats.alunos_com_pendencias|floatformat:0|default:"0" }}</div>
            <div class="orange" style="font-size: 1.1rem; font-weight: 600;">Alunos com horas pendentes</div>
          </div>
        </div>
      </a>

      <a class="col-md-4 mb-3 link-limpo" href="{% url 'listar_atividades_coordenador' %}">
        <div class="card shadow-sm h-100" style="border-radius: 13px;">
          <div class="card-body text-center">
            <div class="main-blue" style="font-size: 2.5rem; font-weight: 700;">{{ stats.atividades_pendentes|floatformat:0|default:"0" }}</div>
            <div class="orange" style="font-size: 1.1rem; font-weight: 600;">Atividades para validar</div>
          </div>
        </div>
      </a>

    </div>

  </div>
{% endblock %}
