/* === PALETA PERSONALIZADA CORRIGIDA === */
:root {
    --main-blue: #15224F;
    --main-green: #004F2D;
    --main-green-dark: #00381f;
    --main-green-light: #197a4b;
    --bg-light: #E8F1F9;
    --text-muted: #6c757d;
    --text-secondary: #333;
    --main-orange: #F16F33;
    --main-bg: #F8FCFF;
    --background-card: #929EB4;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
    font-family: 'DM Sans', sans-serif !important;
}

.link-limpo {
    text-decoration: none;
    color: var(--main-bg) !important;
}

.main-blue {
    color: var(--main-blue) !important;
}

.bg-orange {
    background-color: var(--main-orange) !important;
}

.main {
    background-color: var(--bg-light);
    background-image: url('./images/logo2fundo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
}

.main-nosidebar {
    background-color: var(--bg-light);
    background-image: url('./images/logo2fundo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    min-height: 100vh;
}

.main-login {
    width: 100% !important;
    min-height: 100vh;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .main {
        width: 100% !important;
    }
}

.login-text {
    font-size: 2.5rem;
    color: var(--main-blue);
}

.login-border {
    width: 18px;
    height: 97%;
    background: var(--main-orange);
    margin-top: 4px;
    border-radius: 5px;
}

.div-login {
    padding-left: 2rem;
    align-self: center;
}

.login-card {
    background-color: var(--background-card);
    border-radius: 30px !important;
}

.form-control-login {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 15px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Header - azul escuro */
.bg-primary-dark {
    background-color: var(--main-blue) !important;
    color: white;
}

.alert-warning {
    background-color: #EBCABE;
    color: var(--main-orange);
    border-color: #EBCABE;
}

.sidebar-row {
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 10px;
    margin-top: 4px;
    padding: 0 0.5rem 0rem 0.5rem;
}

.badge {
    background-color: var(--main-blue);
    min-width: 100%;
    display: grid !important;
}

/* Linha separadora entre categorias na navbar */
.sidebar-separator {
    width: 100%;
    height: 2px;
    background: var(--main-blue);
    margin-top: 4px;
    border-radius: 2px;
}


/* Sidebar - fundo claro, borda fina */
.sidebar {
    min-height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    background-color: var(--main-bg);
    width: 700px;
    padding: 15px;
}

.sidebar-header {
    padding: 0 0.5rem 0rem 0.5rem;
    font-weight: 600;
    color: #555;
    color: var(--main-orange) !important;
    font-size: large !important;
    font-weight: 600 !important;
}


.table th {
    background-color: transparent !important;
}

.table td {
    background-color: transparent !important;
}

.sidebar .table tbody tr:last-child {
    border-bottom: none;
}

.table {
    border-color: var(--main-blue);
}

/* Botões principais */
.btn-incluir-certificado {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-incluir-certificado:hover {
    background-color: var(--main-green-dark);
    color: white;
}

.btn-voltar {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-voltar:hover {
    background-color: var(--main-green-dark);
    color: white;
}

/* Botões de ação */
.btn-edit {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: background 0.2s;
}

.btn-edit:hover {
    background-color: #1d3475;
}

.btn-delete {
    background-color: var(--main-orange);
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: background 0.2s;
}

.btn-delete:hover {
    background-color: #e55c3a;
}

.btn-view {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: background 0.2s;
}

.btn-view:hover {
    background-color: #1d4ed8;
}

.btn-download {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: background 0.2s;
}

.btn-download:hover {
    background-color: #1c368c;
}

/* Tabela de atividades */
.table-custom {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: white;
}

.table-custom th,
.table-custom td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.9rem;
}

.table-custom th {
    background-color: #f1f3f5;
    color: #555;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.table-custom tr:nth-child(even) {
    background-color: #f9fafa;
}

/* Logo central */
.display-1 {
    font-size: 10rem;
    opacity: 0.3;
    color: #6c757d;
}

/* Formulários */
.form-card {
    max-width: 800px;
}

.form-label {
    margin-top: 1rem !important;
}

/* Textos secundários */
.text-main-green {
    color: var(--main-green) !important;
}

/* Botões padrão Bootstrap */
.btn-success {
    background-color: var(--main-green) !important;
    border-color: var(--main-green) !important;
    color: #fff !important;
}

.btn-danger {
    background-color: var(--main-orange) !important;
    border-color: var(--main-orange) !important;
    color: #fff !important;
}

.btn-info {
    background-color: var(--main-blue) !important;
    border-color: var(--main-blue) !important;
    color: #fff !important;
}

/* Dropdowns */
.btn-outline-main-blue {
    border-color: var(--main-blue) !important;
    color: var(--main-blue) !important;
}

.btn-outline-main-blue:hover,
.btn-outline-main-blue:focus {
    background-color: var(--main-blue) !important;
    color: #fff !important;
}

.btn-outline-info {
    border-color: var(--main-blue) !important;
    color: var(--main-blue) !important;
}

.btn-outline-info:hover,
.btn-outline-info:focus {
    background-color: var(--main-blue) !important;
    color: #fff !important;
}

.progress-bar {
    background-color: var(--main-blue) !important;
}

/* Navbar */
.navbar.bg-primary {
    background-color: var(--main-green) !important;
}

.orange {
    color: var(--main-orange) !important;
}

.active {
    background-color: var(--bg-light) !important;
}

.grp-botton{
    display: flex;
    margin-right: 1rem;
    margin-left: auto;
    height: 4vh;
    gap: 0.5rem;
}

header button {
    background: transparent;
    color: white;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background: var(--main-orange)
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 90%;
    overflow: auto;
}

.modal-content img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.close {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: var(--main-orange) !important;
}

.main-login-register {
    width: 100% !important;
    min-height: 100vh;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    max-width: 1200px;
}

.form-column {
    flex: 1;
    max-width: 500px;
}

.logo-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-logo {
    max-width: 300px;
    opacity: 0.7;
}


.login-card {
    border: none;
}

@media (max-width: 992px) {
    .register-container {
        flex-direction: column;
        gap: 2rem;
    }

    .logo-column {
        display: none;
    }
}