{% extends 'base.html' %}
{% load atividade_extras %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Bem-vindo, {{ user.get_full_name|default:user.username }}!</h2>
        {% if user.aluno %}
        <div>
            <a href="{% url 'cadastrar_atividade' %}" class="btn btn-success ms-2"><i class="bi bi-plus-circle"></i> Cadastrar Atividade</a>
            <a href="{% url 'listar_atividades' %}" class="btn btn-info ms-2"><i class="bi bi-list"></i> Listar Atividades</a>
        </div>
        {% endif %}
    </div>
  {% if aluno %}
    <p>Curso: {{ aluno.curso }} / Horas complementares requeridas: {{ aluno.curso.horas_requeridas_formatada }}</p>
    {% if ultrapassou_limite %}
      <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        Você possui categorias em que o total de horas cadastradas excede o limite permitido. Apenas as horas dentro do limite serão consideradas para a conclusão.
      </div>
    {% endif %}
    <div class="mb-4">
      <label class="fw-bold text-main-green">Progresso de horas complementares:</label> <span class="fw-bold text-main-green">{{progresso_percentual}}% ({{ total_horas }}h / {{ aluno.curso.horas_requeridas_formatada }})</span>
      <div class="progress" style="height: 30px; background-color: #e6f2ed;">
          <div class="progress-bar bg-main-green" role="progressbar" style="width:{{ progresso_percentual }}%;">
            <span class="fw-bold">{{ total_horas }}h / {{ aluno.curso.horas_requeridas_formatada }}</span>
        </div>
      </div>
    </div>
  {% endif %}

  {% if atividades_recentes %}
    <h4 class="mt-4 text-main-green">Últimas atividades cadastradas</h4>
    <table class="table table-bordered table-sm align-middle shadow-sm rounded bg-white">
      <thead style="background-color: var(--main-green); color: #fff;">
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Data</th>
          <th>Horas</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for atividade in atividades_recentes %}
        <tr>
          <td>{{ atividade.nome }}</td>
          <td>{{ atividade.categoria.categoria.nome }}</td>
          <td>{{ atividade.data }}</td>
          <td><span class="badge bg-success bg-opacity-75">{{ atividade.horas_formatada }}</span></td>
          <td>
            <a href="{% url 'editar_atividade' atividade.id %}" class="btn btn-outline-main-green btn-sm"><i class="bi bi-pencil"></i> Editar</a>
            {% if atividade.documento %}
              <a href="{{ atividade.documento.url }}" target="_blank" class="btn btn-outline-info btn-sm"><i class="bi bi-eye"></i> Visualizar</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if user.groups.all.0.name == 'Gestor' %}
    <a href="{% url 'criar_categoria' %}" class="btn btn-warning mb-3"><i class="bi bi-plus-circle"></i> Criar Categoria geral</a>
    <a href="{% url 'associar_categorias_ao_curso' %}" class="btn btn-warning mb-3"><i class="bi bi-plus-circle"></i> Associar Categorias ao Curso</a>
    <a href="{% url 'criar_curso' %}" class="btn btn-warning mb-3"><i class="bi bi-plus-circle"></i> Criar Curso</a>
    <a href="{% url 'listar_cursos' %}" class="btn btn-warning mb-3"><i class="bi bi-list"></i> Listar Cursos</a>
    <a href="{% url 'listar_categorias' %}" class="btn btn-warning mb-3">Listar Categorias</a>
    <a href="{% url 'listar_categorias_curso' %}" class="btn btn-warning mb-3">Listar Categorias do Curso</a>
    <a href="{% url 'criar_usuario_admin' %}" class="btn btn-warning mb-3">Criar Usuário Gestor ou Coordenador</a>
    <a href="{% url 'listar_usuarios_admin' %}" class="btn btn-warning mb-3">Listar Usuários Administrativos</a>
    {% endif %}

  {% if user.groups.all.0.name == 'Coordenador' %}
  <a href="{% url 'associar_categorias_ao_curso' %}" class="btn btn-warning mb-3"><i class="bi bi-plus-circle"></i> Associar Categorias ao Curso</a>
    <a href="{% url 'criar_categoria_curso_direta' %}" class="btn btn-warning mb-3"><i class="bi bi-plus-circle"></i> Criar Categoria para o Curso</a>
    
    <a href="{% url 'listar_categorias_curso' %}" class="btn btn-warning mb-3">Listar Categorias do Curso</a>
  {% endif %}
{% endblock %}
