{% load atividade_extras %}
{% load static %}
 <!-- Sidebar -->
            {% if user.is_authenticated and user.aluno %}
            <nav class="sidebar">
                    <div class="row gx-0 sidebar-header">
                        <div class="col-7">CATEGORIAS</div>
                        <div class="col-4 text-center">CARGA HORÁRIA</div>
                        <div class="col-1">LIMITE</div>
                    </div>
                    {% for categoria in categorias_context %}
                        <div class="row gx-0 align-items-center sidebar-row {% if categoria.id|stringformat:'s' == request.GET.categoria %}active{% endif %}" data-url="{% url 'listar_atividades' %}?categoria={{ categoria.id }}">
                            <div class="d-flex col-7">
                                <div class="me-4 py-2" style="font-size: 1.5rem;">
                                    {{ categoria.categoria.id|stringformat:"02d" }}
                                </div>
                                <div class="mb-0 text-start py-3 ">{{ categoria.categoria.nome }}</div>
                            </div>
                            <div class="py-3 small col-4 text-center">{{ categoria.equivalencia_horas }}</div>
                            <div class="py-3 col-1">
                                <div class="d-flex flex-column align-items-center">
                                    <span class="small fw-bold">{{ categoria.limite_horas }}h</span>
                                    <div class="badge">
                                    <span class="small mt-1">Aprovadas:</span>
                                    <span class="small mt-1">{{ user.aluno.atividades.all|categoria_horas:categoria }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-separator"></div>
                    {% empty %}
                        <div class="text-muted text-center py-3">Nenhuma categoria</div>
                    {% endfor %}
            </nav>
            {% endif %}
<script src="{% static 'js/navbar.js' %}"></script>