{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-main-blue mt-3">Minhas Atividades</h2>
{% if filter.form.categoria.value %}
  <div class="alert alert-warning">Filtrando por categoria: <b>{{ filter.form.cleaned_data.categoria.categoria.nome }}</b> <a href="{% url 'listar_atividades' %}" class="btn btn-sm btn-outline-main-blue ms-2">Remover filtro</a></div>
{% endif %}

<div class="mb-3">
{% if filter.form.categoria.value %}
<a href="{% url 'cadastrar_atividade' %}?categoria={{ filter.form.categoria.value }}" class="btn btn-info"><i class="bi bi-plus-circle"></i> Nova Atividade</a>
{% else %}
<a href="{% url 'cadastrar_atividade' %}" class="btn btn-info"><i class="bi bi-plus-circle"></i> Nova Atividade</a>
{% endif %}
<a href="{% url 'dashboard' %}" class="btn btn-outline-main-blue"><i class="bi bi-arrow-left"></i> Voltar</a>
</div>

<div class="mb-3">
  <form method="get"
      class="row g-2 align-items-center filtros-atividades"
      hx-get="{% url 'listar_atividades' %}"
      hx-trigger="change, keyup delay:200ms"
      hx-target="#atividades-container"
      hx-push-url="true">
  <div class="row g-2 align-items-end">
    <div class="col-4">
      <label for="{{ filter.form.status.id_for_label }}" class="filtro-label">{{ filter.form.status.label }}</label>
      {{ filter.form.status }}
    </div>
    <div class="col-4">
      <label for="{{ filter.form.categoria.id_for_label }}" class="filtro-label">{{ filter.form.categoria.label }}</label>
      {{ filter.form.categoria }}
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{% url 'listar_atividades' %}'">Limpar</button>
    </div>
  </div>
</form>
</div>

<div id="atividades-container">
    {% include "listas/htmx/atividades_list.html" %}
</div>

<!-- Container para modais HTMX -->
<div id="modal-container"></div>

{% endblock %}


